<style>

#logo{
	background-color: white;
	text-align: center;
}

#studyLocation{
	text-align: center | justify;
	/* font-family: 'Work Sans', sans-serif; */
	/* width: 33% */
}

#attributes{
	text-align: left;

}

#logo{
	height: 50px;
}

#setBlockWidth{
	width: 50%;

}

#approvalButton{
	text-align: right;
}

#options{

}

body {
	padding-bottom: 70px;
}

#footer {
	position: fixed;
	height: 50px;

	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
}

.post{
	width: 100%;
	height: 10px;
	padding-right: 50px;
	padding-left: 50px;
	text-align: center;
	font-family: 'Sanchez', serif;
	padding-top: 10px;
	padding-bottom: 185px;
	color: black;
}

.panel{
	background-color: white;
}

.page-header{
	max-height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#outer
{
	width:100%;
	text-align: center;
}
.inner
{
	display: inline-block;
}
/* .nav a {
text-align:center;
/* padding:12px 0 13px 0;
margin:0;
/* border-left: 1px solid #fff;
/* border-right: 1px solid #fff;
display:block;
} */
.nav a:hover {
	background:#A26A42;
	border:none;
}

ul.nav li:first-child a{
	border:none;
}
ul.nav li:last-child a {
	border:none;
}

.modal-dialog {
	-webkit-transform: translate(0, 0) !important;
	transform: translate(0, 0) !important
}



</style>

<section style="padding:-15px">

	<!-- Add a background image to this section of century tower or something -->
	<div id = "logo" style="padding-top:10px;margin-bottom:30px;font-size:20px">
		<div class="col-lg-4 col-xs-4" ng-click="category='Marston'" style="padding:0">
			<div ng-if="category==='Marston'" style="font-weight:bold;border-bottom:3px solid black">Marston</div>
			<div ng-hide="category==='Marston'" style="border-bottom:3px solid lightgrey">Marston</div>
		</div>
		<div class="col-lg-4 col-xs-4" ng-click="category='Lib West'" style="padding:0">
			<div ng-if="category==='Lib West'" style="font-weight:bold;border-bottom:3px solid black">Lib West</div>
			<div ng-hide="category==='Lib West'" style="border-bottom:3px solid lightgrey">Lib West</div>
		</div>
		<div class="col-lg-4 col-xs-4" ng-click="category='Other'" style="padding:0">
			<div ng-if="category==='Other'" style="font-weight:bold;border-bottom:3px solid black">Other</div>
			<div ng-hide="category==='Other'" style="border-bottom:3px solid lightgrey">Other</div>
		</div>
	</div>

	<div data-ng-repeat="studySpace in vm.studySpaces | orderBy: 'name' | filter: category" class="col-lg-4 col-xs-12" style="height:200px;padding-bottom:30px;border-bottom:3px solid grey">
		<div class = "text-center" style="border-bottom:1px solid lightgrey;margin-bottom:10px;height:16%">
			<h4>
				<span style="font-weight:bold">{{studySpace.name}}</span>
			</h4>
		</div>
		<div style="border-bottom:1px solid lightgrey;height:62%">
			<div class="col-lg-4 col-xs-4" style="border-right:1px solid lightgrey" ng-click="setCurr(studySpace.name)" data-toggle="modal" data-target="#crowdModal">
				<img src={{getCrowdIcon(studySpace.crowdLevel)}} width=100% height=100% align="middle"></img>
			</div>

			<!-- Crowd Modal -->
			<div class="modal fade" id="crowdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header" style="height:70px">
							<h5 class="modal-title" id="exampleModalLabel" style="text-align:center;width:100%">Crowdedness</h5>
							<div style="text-align:center;width:100%;position:absolute;padding-top:20px;left:0"> How crowded is it?</div>
						</div>
						<div class="modal-body" style="height:300px">
							<div style="height:50%;width:50%;position:absolute;margin-left:5%"><img src="/modules/studySpaces/client/img/crowd0.png" width=70% align="middle" ng-click="save(current, 1, 1)" data-dismiss="modal"></img></div>
							<div style="height:50%;width:50%;position:absolute;left:50%;margin-left:5%"><img src="/modules/studySpaces/client/img/crowd1.png" width=70% align="middle" ng-click="save(current, 2, 1)" data-dismiss="modal"></img></div>
							<div style="height:50%;width:50%;position:absolute;top:50%;margin-left:5%;margin-top:2%"><img src="/modules/studySpaces/client/img/crowd2.png" width=70% align="middle" ng-click="save(current, 3, 1)" data-dismiss="modal"></img></div>
							<div style="height:50%;width:50%;position:absolute;left:50%;top:50%;margin-left:5%;margin-top:2%"><img src="/modules/studySpaces/client/img/crowd3.png" width=70% align="middle" ng-click="save(current, 4, 1)" data-dismiss="modal"></img></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-xs-4" style="border-right:1px solid lightgrey"  ng-click="setCurr(studySpace.name)" data-toggle="modal" data-target="#noiseModal">
				<img src={{getNoiseIcon(studySpace.noiseLevel)}} width=100% height=100% align="middle"></img>
			</div>

			<!-- Crowd Modal -->
			<div class="modal fade" id="noiseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content ">
						<div class="modal-header" style="height:70px">
							<h5 class="modal-title" id="exampleModalLabel" style="text-align:center;width:100%">Noise Level</h5>
							<div style="text-align:center;width:100%;position:absolute;padding-top:20px;left:0px"> How loud is it?</div>
						</div>
						<div class="modal-body" style="height:300px">
							<div style="height:50%;width:50%;position:absolute;margin-left:5%"><img src="/modules/studySpaces/client/img/sound0.png" width=70% align="middle" ng-click="save(current, 1, 2)" data-dismiss="modal"></img></div>
							<div style="height:50%;width:50%;position:absolute;left:50%;margin-left:5%"><img src="/modules/studySpaces/client/img/sound1.png" width=70% align="middle" ng-click="save(current, 2, 2)" data-dismiss="modal"></img></div>
							<div style="height:50%;width:50%;position:absolute;top:50%;margin-left:5%;margin-top:2%"><img src="/modules/studySpaces/client/img/sound2.png" width=70% align="middle" ng-click="save(current, 3, 2)" data-dismiss="modal"></img></div>
							<div style="height:50%;width:50%;position:absolute;left:50%;top:50%;margin-left:5%;margin-top:2%"><img src="/modules/studySpaces/client/img/sound3.png" width=70% align="middle" ng-click="save(current, 4, 2)" data-dismiss="modal"></img></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-xs-4" ng-click="setCurr(studySpace.name)" data-toggle="modal" data-target="#atmoModal">
				<img src={{getAtmoIcon(studySpace.atmosphere)}} width=100% height=100% align="middle"></img>
			</div>

			<!-- Crowd Modal -->
			<div class="modal fade" id="atmoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header" style="height:70px">
							<h5 class="modal-title" id="exampleModalLabel" style="text-align:center;width:100%">Atmosphere</h5>
							<div style="text-align:center;width:100%;position:absolute;padding-top:20px;left:0px">What is the mood like?</div>
						</div>
						<div class="modal-body" style="height:300px">
							<div style="height:50%;width:50%;position:absolute;margin-left:5%"><img src="/modules/studySpaces/client/img/atmo0.png" width=70% align="middle" ng-click="save(current, 1, 3)" data-dismiss="modal"></img></div>
							<div style="height:50%;width:50%;position:absolute;left:50%;margin-left:5%"><img src="/modules/studySpaces/client/img/atmo1.png" width=70% align="middle" ng-click="save(current, 2, 3)" data-dismiss="modal"></img></div>
							<div style="height:50%;width:50%;position:absolute;top:50%;margin-left:5%;margin-top:2%"><img src="/modules/studySpaces/client/img/atmo2.png" width=70% align="middle" ng-click="save(current, 3, 3)" data-dismiss="modal"></img></div>
							<div style="height:50%;width:50%;position:absolute;left:50%;top:50%;margin-left:5%;margin-top:2%"><img src="/modules/studySpaces/client/img/atmo3.png" width=70% align="middle" ng-click="save(current, 4, 3)" data-dismiss="modal"></img></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="margin-top:5px">
			<button type="button" class="btn btn-primary" style = "width: 100%;" ng-click="save(studySpace)">
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Accurate
			</button>
		</div>
	</div>

</div>



</section>



<!--div class = "post" style = "background-color: orange;">


<div id = "studyLocation" class = "text-center">
<span class = "align-middle">
<h4 class = "text-center">
<span style="font-weight:bold">Marston</span>
</h4>

<div class="panel panel-primary" >

<div id = "attributes" class="panel-body">

<div class = text-center>
<button type="button" class="btn btn-primary btn-lg" style = "width: 100%;" >
<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Accurate
</button>
</div>


<div id="marstonCrowd" class="modal fade" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<!--div class="modal-content">
<div class="modal-header" >
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">
Crowdedness
</h4>
</div>

<div class="modal-body">
<p>Details about crowdedness here</p>
</div>

<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

</div>

</div>
</div>

<br>

<div id="outer">
<div class="inner">
<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#marstonCrowd" style = "max-width: 375px;">
Crowdedness
</button>
</div>
<div class="inner">
<button class="btn btn-primary btn-block">
Noise Level
</button>
</div>
<div class="inner">
<button class="btn btn-primary btn-block">
Atmosphere
</button>
</div>
</div>
</div>
</div>

</span>
</div>
</div>

<div class = "post" style = "background-color: #4DD2FF">
<div id = "studyLocation" class = "text-center">
<span class = "align-middle">

<h4 class = "text-center">
<span style="font-weight:bold">Library West</span>
</h4>

<div class="panel panel-primary">
<div id = "attributes" class="panel-body">

<div class = text-center>
<button type="button" class="btn btn-primary btn-lg" style = "width: 100%;">
<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Accurate
</button>
</div>

<br>

<div id="outer">
<div class="inner">
<button class="btn btn-primary btn-block" >
Crowdedness
</button>
</div>
<div class="inner">
<button class="btn btn-primary btn-block">
Noise Level
</button>
</div>
<div class="inner">
<button class="btn btn-primary btn-block">
Atmosphere
</button>
</div>
</div>


</div>
</div>
</span>
</div>
</div>

<div class = "post" style = "background-color: orange;">
<div id = "studyLocation" class = "text-center">
<span class = "align-middle">

<!-- Things to consider:
Line Height

-->

<!--h4 class = "text-center">
<span style="font-weight:bold">Some other place</span>
</h4>

<div class="panel panel-primary" >

<div id = "attributes" class="panel-body">

<div class = text-center>
<button type="button" class="btn btn-primary btn-lg" style = "width: 100%;">
<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Accurate
</button>
</div>

<br>

<div id="outer">
<div class="inner">
<button class="btn btn-primary btn-block" >
Crowdedness
</button>
</div>
<div class="inner">
<button class="btn btn-primary btn-block">
Noise Level
</button>
</div>
<div class="inner">
<button class="btn btn-primary btn-block">
Atmosphere
</button>
</div>
</div>

</div>
</div>

</span>
</div>
</div>



<footer class="footer">
<div class="container" >
<ul class="nav" id = "footerText">
<li><a href="#">Home</a></li>
<li><a href="#">Something</a></li>
<li><a href="#">Something</a></li>
</ul>

<!-- <span id = "footerText" class="col-md-4">
<button type="button" class="btn btn-dark btn-sm" style = "width: 25%">
Home
</button>
</span>
<span id = "footerText" class="col-md-4">
<button type="button" class="btn btn-dark btn-sm" style = "width: 25%">
Something
</button>
</span>
<span id = "footerText" class="col-md-4">
<button type="button" class="btn btn-dark btn-sm" style = "width: 25%">
Something
</button>
</span> -->
